@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter Regular"),
       local("Inter-Regular"),
       url("fonts/Inter-Regular.woff2") format("woff2"),
       url("fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inika Bold"),
       local("Inika-Bold"),
       url("fonts/Inika-Bold.woff2") format("woff2"),
       url("fonts/Inika-Bold.woff") format("woff");
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #131212;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.cssBayan__container {
  min-width: 320px;
  max-width: 1920px;
  padding: 20px 6%;
  margin: 0 auto;
}

.cssBayan__caption {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Inika", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

.cssBayan__list {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  
  list-style: none;
}

.cssBayan__item {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.cssBayan__img-wrapper {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

.cssBayan__item img {
  display: inline-block;
  width: 100%;
  object-fit: cover;
}

.cssBayan__item input {
  display: none;
}

.cssBayan__item article {
  position: relative;
  z-index: -1;
  overflow: hidden;
  height: 0px;
  transition: transform 0.5s;
  transform: translateY(-50%);
}

.cssBayan__item input:checked ~ article {
  height: 100%;
  padding: 15px 8%;
  transition: transform 0.5s;
  transform: translateY(0);
}

.cssBayan__item label {
  display: block;
  margin-bottom: 30px;
  padding: 3%;
  padding-right: 50px;
  font-family: "Inika", serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 1px;
  background: rgb(245, 245, 245);
  border-bottom: 1px solid rgb(163, 163, 163);
}

.cssBayan__descr {
  margin: 0;
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 30px;
}